<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PROCESSOR_ARCHITECTURE" value="%PROCESSOR_ARCHITECTURE%" />
  </appSettings>
  <connectionStrings>
    <add name="BotDatabase" connectionString="data source=&quot;.\BotDatabase.s3db&quot;;datetime kind=Utc;cache size=10000;default timeout=10" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>